// =============================================
/* Fonts */
// =============================================

// Serif

// Sans Serif
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');
$montserrat: 'Montserrat', sans-serif;

// Display
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
$balsamiqSans: 'Balsamiq Sans', cursive;

@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
$ranchers: 'Ranchers', cursive;

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
$comfortaa: 'Comfortaa', cursive;

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
$alfaSlabOne: 'Alfa Slab One', cursive;

// Handwriting
@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');
$licorice: 'Licorice', cursive;

@import url('https://fonts.googleapis.com/css2?family=The+Nautigal&display=swap');
$theNautigal: 'The Nautigal', cursive;

@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');
$islandMoments: 'Island Moments', cursive;

@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');
$moonDance: 'Moon Dance', cursive;

// Monospace
