// =============================================
/* Reset classes */
// =============================================
*,
*:after,
*:before {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#appWrapper {
  font-family: var(--ffDef);
  font-size: var(--fsDef);
  color: var(--textColor);
}
ul {
  padding: 0;
  list-style-type: none;
}
b,
strong {
  font-weight: bold;
}
a {
  text-decoration: none;
}
hr {
  border: 0;
  border-top: 1px dotted var(--borderColor);
}
img {
  max-width: 100%;
}
